* {
    margin: 0;
    padding 0;
}

.header {
    background-color: gray;
    padding: 20px;
}

.content {
    background-color: silver;
    padding: 20px;
}

.footer {
    background-color: yellow;
    padding: 20px;
}